.footer {
    height: 70px;
    padding: 0 312px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: #fff;
        text-decoration: none;
    }
}